.Header-section
{
  background-color: rgb(124, 124, 124);
  min-height: 50px;
  margin-right: 3%;
  margin-left: 3%;
  display: flex;
  flex-direction: row;
}

.left-header
{
  display: flex;
  flex: 1;
  align-items: center;
  color: white;
  margin-left: 5px;
  margin-right: 10px;
  font-family: Arial;
  font-style: italic;
  font-size: 15px;
  margin-left: 20px;
}

.right-header
{
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
}

.right-header a
{
  color: black;
  text-decoration: none;
  font-family: Arial;
  font-size: 15px;
}

.right-header a:hover
{
  color: white;
  transition: 0.8s;
}

.home-section
{
  padding-right: 10px;
}
.about-section
{
  padding-right: 10px;
}
.work-section
{
  padding-right: 10px;
}
.contact-section
{
  padding-right: 10px;
}
.active-link a 
{
  color: white;
}
.body-section
{
  min-height: 200px;
  margin-top: 3%;
  background-color: #efefef;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-body
{
  display: flex;
  flex: 1;
  min-height: 200px;
  align-items: center;
  margin-top: 10px;
}

.bottom-body
{
  display: flex;
  flex: 1;
  min-height: 200px;
  margin-right: 10px;
  align-items: center;
}

.profile-pic
{
  height: 200px;
  border-radius: 100px;
  object-fit: scale-down;
  margin-top: 0px;
  margin-bottom: 0px;
}

p
{
  color: black;
  font-family: Arial;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.paragraph-section
{
  margin-top: 0px;
}

a
{
  text-decoration: none;
  color: blue;
}
a:hover
{
  transition: 0.8s;
  color: red;
}

.footer-section
{
  min-height: 50px;
  background-color: rgb(124, 124, 124);
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

.bottom-footer
{
  display: flex;
  flex-direction: column;
}

.Top-footer
{
  display: flex;
  margin: auto;
}

.bottom-footer-paragraphs-1
{
  color: white;
  font-family: Arial;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
}

.bottom-footer-paragraphs-2
{
  color: white;
  font-family: Arial;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
}

.bottom-footer-paragraphs-3
{
  color: white;
  font-family: Arial;
  font-style: italic;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: auto;
}

.about-body-section
{
  min-height: 400px;
  background-color: #efefef;
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

h1
{
  padding-left: 10px;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0px;
}

.profile-paragraph1, .awards-paragraph1, .reference-paragraph1
{
  margin-bottom: 0px;
  margin-top: 5px;
}

.profile-paragraph2, .awards-paragraph2
{
  font-family: Arial;
  margin-top: 5px;
}

.key-skills, .projects
{
  margin-top: 0px;
  margin-bottom: 5px;
}

h2
{
  font-family: Arial;
  font-weight: 700;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Education-paragraph1
{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.Education-paragraph2
{
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

.Education-paragraph3
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.reference-paragraph1
{
  margin-bottom: 5px;
}

.work-body-section, .contact-body-section
{
  min-height: 400px;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  background-color: #efefef;
}

.contact-body-section
{
  display: flex;
  flex-direction: column;
}

.contact-paragraph1
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Arial;
  font-size: 18px;
}

@viewport
{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport
{
  width: extend-to-zoom;
  zoom: 1.0;
}