html {
    overflow-x: hidden;
}
body
{
    background-color: rgb(243, 243, 243);/*transparent;*/
    overflow-x: hidden;
}
*, *:before, *:after
{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
header
{
    padding: 0% 5%;
}
nav
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo a
{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    font-size: 20px;
}
.nav-links
{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li
{
    list-style: none;
}
.nav-links a
{
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.nav-links a:hover
{
    color: goldenrod;
    transition: 0.7s;
    transform: scale(1.1);
    transition: 0.3s;
}
.nav-links a.active
{
    color: goldenrod;
}
.burger
{
    display: none;
}
.burger div
{
    width: 25px;
    height: 3px;
    background-color: rgb(15, 11, 11);
    margin: 5px;
    transition: all 0.3s ease;
}
main
{
    padding: 0;
    margin: 0;
}
.profile-main-section
{
    padding: 3% 20%;
}
/*------------------------------------------*/
.resumeMainSection, .projectMainSection
{
    padding: 5% 20%;
}
.contactMainSection
{
    padding: 7% 20%;
    display: flex;
    justify-content: space-between;
}
.projectMainSection h1
{
    margin: 0 0 80px 0;
}
.projectContent
{
    display: flex;
    justify-content: space-between;
}
.projectContent aside h1
{
    margin: 0 0 20px 0;
}
.projectContent aside p, .projectContent aside h1
{
    font-size: 1.2rem;
}
.projectContent aside ol
{
    padding: 0;
}
.content2
{
    margin-top: 120px;
}
.projectContent figure img
{
    width: 400px;
    height: auto;
}
.projectContent figure.trafficLightsIOTProjectImg img
{
    width: 400px;
    height: 350px;
}
.resumeContentSection
{
    margin-top: 80px;
    margin-bottom: 80px;
}
.skillsContent
{
    margin-bottom: 0px;
}
.Aside
{
    display: flex;
    justify-content: space-between;
}
.educationDescription, .experienceContent
{
    margin-top: 50px;
}
.resumeDescription
{
    display: flex;
    flex-direction: column;
}
.years
{
    margin-right: 20px;
}
.years p, .explanation p, .Aside ul li p
{
    font-size: 1.1rem;
}
.profile-main-content
{
    display: flex;
}
.profileImage img
{
    width: 350px;
    height: auto;
    border-radius: 50%;
}
.profileDescription
{
    padding: 2% 5%;
}
.profileDescription h1
{
    font-size: 5rem;
}
.profileDescription h4
{
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.profileDescription ul
{
    list-style-type: none;
    margin: 15px 0 0 0;
    padding: 0;
    overflow: hidden;
}
.profileDescription ul li
{
    margin-bottom: 5px;
}
.profileDescription ul li p
{
    font-size: 1.1rem;
}
.circleLinks
{
    display: flex;
}
.circle
{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    padding: 8% 0;
    margin-right: 15px;
    cursor: pointer;
}
.circle1
{
    background: orange;
}
.circle2
{
    background: red;
}
.circle3
{
    background: lightblue;
}
.circle:hover
{
    background: none;
}
.circle a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}
footer
{
    padding: 1% 5%;
    margin: 0;
}
.resumeFooter
{
    padding-top: 1%;
    padding-bottom: 5%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
}
.profile-contact-details
{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.profile-contact-details li
{
    margin-top: 15px;
}
.profile-contact-details li p
{
    font-weight: bold;
    font-size: 1.2rem;
}
.profile-contact-details li a
{
    text-decoration: none;
    color: #454545;
}
.profile-contact-details .copy-right p
{
    font-weight: normal;
    font-size: 1rem;
}
.line
{
    background: black;
    max-width: 100%;
    height: 1px;
}
.phoneViewProjectParagraph, .phoneViewProjectParagraph.clear
{
    display: none;
}
.addressContainer
{
    margin-bottom: 30px;
}
.addressContainer h1, .addressContainer h3
{
    margin-bottom: 10px;
}
.addressContainer h1, .addressContainer h3,
.addressContainer p, .addressContainer a
{
    font-style: normal;
}
.addressContainer a
{
    text-decoration: none;
    color: black;
}
#contact-form
{
    display: flex;
    margin: 20px 0 0 0;
}
#contact-form div
{
    margin: 0 40px 0 0;
}
#contact-form div label input
{
    border: 1px solid black;
    padding: 7% 4%;
}
#contact-form div label textarea
{
    border: 1px solid black;
}
#contact-form div button
{
    background-color: orange;
    cursor: pointer !important;
    padding: 50px 30px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 20px 0 0 0;
    min-width: 100%;
}
#contact-form div button:hover
{
    background-color: #fff;
    transition: 0.4s;
    text-align: center;
}
#contact-form div button span
{
    font-weight: bold;
    font-size: 1.1rem;
}
.projectContent iframe
{
    width: 400px;
    height: 250px;
}
.clear
{
    clear: both;
    font-size: 0;
    line-height: 0;
}
.clear
{
    height: 0;
}
.desktopViewProjectParagraph p, .desktopViewProjectParagraph a
{
    font-size: 1.2rem;
}
@media screen and (max-width: 1024px)
{
    .nav-links
    {
        width: 60%;
    }
}
@media screen and (max-width: 768px)
{
    body
    {
        overflow-x: hidden;
    }
    nav
    {
        justify-content: space-between;
    }
    .nav-links
    {
        position: absolute;
        right: 0px;
        height: 100%;
        top: 8vh;background-color: rgb(243, 243, 243);;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        transform: translateX(100%);
        transition: transorm 0.5s ease-in;
    }
    .nav-links a
    {
        font-size: 20px;
    }
    .nav-links li
    {
        opacity: 0;
    }
    .burger
    {
        display: block;
        cursor: pointer;
    }
    .profile-main-content
    {
        flex-direction: column;
    }
    .profileImage
    {
        order: 2;
    }
    #mainMenu /*, .desktopViewProjectParagraph*/
    {
        display: none;
    }
    .profileImage
    {
        text-align: center;
    }
    ul .circleLinks
    {
        text-align: center;
    }
    .profileImage img
    {
        width: 250px;
        height: auto;
        border-radius: 50%;
    }
    .profile-main-section, .resumeMainSection,
    .projectMainSection, .contactMainSection
    {
        padding: 0% 5%;
    }
    .circle
    {
        padding: 12% 0%;
    }
    .profile-contact-details
    {
        flex-direction: column;
    }
    footer, .resumeFooter
    {
        padding: 4% 0%;
    }
    .Aside, .resumeDescription
    {
        flex-direction: column;
    }
    .resumeContentSection, .resumeDescription
    {
        margin-top: 20px;
    }
    .profileDescription, .profile-contact-details
    {
        padding: 0;
    }
    .profile-contact-details
    {
        margin: 0% 5%;
    }
    .explanation
    {
        margin-top: 10px;
    }
    .Aside ul li p br, .explanation p br
    {
        display: none;
    }
    .projectContent
    {
        flex-direction: column;
    }
    .projectContent figure img
    {
        width: 100%;
        height: auto;
    }
    .projectContent figure.trafficLightsIOTProjectImg img
    {
        width: 100%;
        height: 300px;
    }
    .projectMainSection h1
    {
        margin: 0 0 20px 0;
    }
    .projectContent aside
    {
        margin: 0 0 10px 0; 
    }
    .content2
    {
        margin-top: 50px;
    }
    .projectContent aside p, .projectContent aside h1
    {
        font-size: 1.4rem;
    }
    .lastProjectContent
    {
        margin-bottom: 40px;
    }
    .phoneViewProjectParagraph
    {
        display: block;
    }
    .contactMainSection, #contact-form
    {
        flex-direction: column;
    }
    #contact-form div label input, #contact-form div label textarea
    {
        min-width: 100%;
    }
    #contact-form div button
    {
        padding: 10% 5%;
        min-width: 30%;
    }
    #contact-form .firstcontentForm
    {
        margin-bottom: 10px;
    }
    .projectContent iframe
    {
        width: 100%;
    }
}

.nav-active
{
    transform: translate(0%);
}

@keyframes navLinkFade
{
    from
    {
        opacity: 0;
        transform: translateX(50px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1
{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2
{
    opacity: 0;
}
.toggle .line3
{
    transform: rotate(45deg) translate(-5px, -6px);
}
