@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

html
{
    height: 88%;
}

body
{
    height: 88%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 80px;
    background: rgb(124, 124, 124);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    margin-left: 3%;
    margin-right: 3%;
    top: 0;
}

#navbar
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active
{
    color: #fff;
}

#navbar li a.active::after,
#navbar li a:hover::after
{
    content: "";
    width: 30%;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile
{
    display: none;
    align-items: center;
}

#close
{
    display: none;
}

#project-section {
    background-color: #efefef;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 88%;
    margin-bottom: 3%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#code-section {
    min-height: 88%;
    background-color: #efefef;
    margin-left: 3%;
    margin-right: 3%;
    min-height: 88%;
    margin-bottom: 3%;
    margin-top: 3%;
}

.missing_Elementimg {
    width: 500px;
    transform: translate(90%);
}

.cyclic-img {
    align-items: center;
    justify-content: center;
    margin: auto;
}

.cyclic_rot_img {
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BinaryImg
{
    width: 500px;
    transform: translate(90%);
}

.first-solution-block, .second-solution-block, .third-solution-block,
.fourth-solution-block, .fifth-solution-block, .sixth-solution-block,
.seventh-solution-block, .eigth-solution-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    margin-left: 2%;
    flex-wrap: wrap;
}

h5 
{
    font-family: Arial;
    font-size: 25px;
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.Binary-Gap, .Cyclic-rotation, .Frog-jump,
.Missing-element, .Frog-River-jump, .Perm-Check,
.Missing-Integer, .Passing-Cars, .Genomic-Range-Query,
.Min-Avg-Two-Slice, .Max-Product-Of-Three, .triangle,
.brackets, .fish, .Max-Profit, .Max-Slice-Sum,
.Odd-Occurrences, .Tape-equ, .Max-Counters, .Count-Div,
.distinct, .Number-Of-Disc-Intersection, .nesting, .Max-Double-Slice-Sum 
{
    margin-right: 10px;
    margin-left: 10px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
}

button a
{
    text-decoration: none;
    color: white;
}

button a:hover
{
    color: yellow;
    transition: 0.8s;
}

.active-link a {
    color: white;
}
.body-section
{
  min-height: 88%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #efefef;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-body
{
  display: flex;
  flex: 1;
  min-height: 200px;
  align-items: center;
  margin-top: 10px;
}

.bottom-body
{
  display: flex;
  flex: 1;
  min-height: 200px;
  margin-right: 10px;
  align-items: center;
}

.profile-pic
{
  height: 200px;
  border-radius: 100px;
  object-fit: scale-down;
  margin-top: 0px;
  margin-bottom: 0px;
}

p
{
  color: black;
  font-family: Arial;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

.paragraph-section
{
  margin-top: 0px;
}

a
{
  text-decoration: none;
  color: blue;
}
a:hover
{
  transition: 0.8s;
  color: red;
}

.footer-section
{
  min-height: 50px;
  background-color: rgb(124, 124, 124);
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

.top-footer
{
  display: flex;
  flex-direction: column;
}

.top-footer-paragraphs-1
{
  color: white;
  font-family: Arial;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: auto;
}

.top-footer-paragraphs-2
{
  color: white;
  font-family: Arial;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin: auto;
}

.top-footer-paragraphs-3
{
  color: white;
  font-family: Arial;
  font-style: italic;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  margin: auto;
}

.about-body-section
{
  min-height: 88%;
  background-color: #efefef;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 3%;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
}

.link-support
{
    color: yellow;
    font-family: Arial;
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
}

.link-support:hover
{
    color: greenyellow;
    transition: 0.8s;
}

.privacy-link
{
    font-family: Arial;
    font-size: 14px;
    color: white;
    font-style: italic;

}

.privacy-link:hover
{
    transition: 0.8s;
    color: yellow;
}

.bottom-footer {
    display: flex;
    flex-direction: row;
    margin: auto;
}

h1
{
  padding-left: 10px;
  font-family: Arial;
  font-size: 18px;
  font-style: italic;
  margin-bottom: 0px;
}

.profile-paragraph1, .awards-paragraph1, .reference-paragraph1
{
  margin-bottom: 0px;
  margin-top: 5px;
}

.profile-paragraph2, .awards-paragraph2
{
  font-family: Arial;
  margin-top: 5px;
}

.key-skills, .projects
{
  margin-top: 0px;
  margin-bottom: 5px;
}

h2
{
  font-family: Arial;
  font-weight: 700;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.Education-paragraph1
{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.Education-paragraph2
{
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

.Education-paragraph3
{
  margin-top: 5px;
  margin-bottom: 5px;
}

.reference-paragraph1
{
  margin-bottom: 5px;
}

.contact-body-section
{
  min-height: 88%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #efefef;
}

.contact-body-section {
    display: flex;
    flex-direction: column;
}

.contact-paragraph1
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-family: Arial;
  font-size: 18px;
}

h4 
{
    padding-left: 10px;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0px;
    color: #fff;
}

.Frog_River_One_img
{
    width: 300px;
    transform: translate(180%);
}

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 30vh;
        width: 200px;
        background-color: #efefef;
        box-shadow: 0 40px 60px rgb(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active
    {
        right: 0px;
    }

    #navbar li
    {
        margin-bottom: 25px;
    }

    #mobile
    {
        display: flex;
        align-items: center;
    }

    #mobile i
    {
        color: #fff;
        font-size: 24px;
        padding-left: 20px;
    }

    #close
    {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .Binary-Gap, .Cyclic-rotation, .Frog-jump,
    .Missing-element, .Frog-River-jump, .Perm-Check,
    .Missing-Integer, .Passing-Cars, .Genomic-Range-Query,
    .Min-Avg-Two-Slice, .Max-Product-Of-Three, .triangle,
    .brackets, .fish, .Max-Profit, .Max-Slice-Sum,
    .Odd-Occurrences, .Tape-equ, .Max-Counters, .Count-Div,
    .distinct, .Number-Of-Disc-Intersection, .nesting, .Max-Double-Slice-Sum 
    {
        display: flex;
        flex-direction: column;
    }

    .Binary-Gap, .Cyclic-rotation, .Frog-jump,
    .Missing-element, .Frog-River-jump, .Perm-Check,
    .Missing-Integer, .Passing-Cars, .Genomic-Range-Query,
    .Min-Avg-Two-Slice, .Max-Product-Of-Three, .triangle,
    .brackets, .fish, .Max-Profit, .Max-Slice-Sum,
    .Odd-Occurrences, .Tape-equ, .Max-Counters, .Count-Div,
    .distinct, .Number-Of-Disc-Intersection, .nesting, .Max-Double-Slice-Sum {
        margin-bottom: 10px;
    }

    .cyclic_rot_img {
        width: 300px;
        margin: auto;
    }
    .BinaryImg, .missing_Elementimg, .Frog_River_One_img 
    {
        width: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 477px)
{
    #header
    {
        padding: 10px 30px;
    }
}

[data-custom-class='body'], [data-custom-class='body'] * {
    background: transparent !important;
}

[data-custom-class='title'], [data-custom-class='title'] * {
    font-family: Arial !important;
    font-size: 26px !important;
    color: #000000 !important;
}

[data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
    font-family: Arial !important;
    color: #595959 !important;
    font-size: 14px !important;
}

[data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
    font-family: Arial !important;
    font-size: 19px !important;
    color: #000000 !important;
}

[data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
    font-family: Arial !important;
    font-size: 17px !important;
    color: #000000 !important;
}

[data-custom-class='body_text'], [data-custom-class='body_text'] * {
    color: #595959 !important;
    font-size: 14px !important;
    font-family: Arial !important;
}

[data-custom-class='link'], [data-custom-class='link'] * {
    color: #3030F1 !important;
    font-size: 14px !important;
    font-family: Arial !important;
    word-break: break-word !important;
}

ul 
{
    list-style-type: square;
}

ul > li > ul {
    list-style-type: circle;
}

ul > li > ul > li > ul {
    list-style-type: square;
}

ol li {
    font-family: Arial;
}